<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sinosoft" type="Sinosoft.Common.SinosoftConfigure,Sinosoft.Common"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="SaveAddress" value="E:"/>
  </appSettings>
  <connectionStrings>
    <!--Emis源库-->
    <add name="ORACLEConnectionString1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.51.108)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = DB11G)));User Id=szods;Password=123;Persist Security Info=True;"/>
    <!--mssql目标库-->
    <add name="MSSQLConnectionString1" connectionString="Data Source =192.168.51.31;Initial Catalog = ctrldbv2;User Id = sa;Password = 123456798;"/>
    <!--oracle镜像库-->
    <add name="ORACLE2ConnectionString2" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.51.108)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = DB11G)));User Id=szods;Password=123;Persist Security Info=True;"/>

    <!--LifePro源库-->
    <add name="ORACLEConnectionString-1" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.51.108)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = DB11G)));User Id=szods;Password=123;Persist Security Info=True;"/>
    <!--mssql目标库-->
    <add name="MSSQLConnectionString-1" connectionString="Data Source =192.168.51.31;Initial Catalog = ctrldbv2;User Id = sa;Password = 123456798;"/>
    <!--oracle镜像库-->
    <add name="ORACLE2ConnectionString-2" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.51.108)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = DB11G)));User Id=szods;Password=123;Persist Security Info=True;"/>

  </connectionStrings>
  <sinosoft>
    <DBtable name="AMIS">
      <values id="0" tablename="T_STAFF" desc="测试表1"/>
      <values id="1" tablename="t50_dept" desc=""/>
      <values id="2" tablename="agt_bnk_rel" desc=""/>
      <values id="3" tablename="bmis_clc_branch" desc=""/>
      <values id="4" tablename="bmis_clc_grp" desc=""/>
      <values id="5" tablename="bmis_clc_info" desc=""/>
      <values id="6" tablename="bmis_clc_leader" desc=""/>
      <values id="7" tablename="t_addagent" desc=""/>
      <values id="8" tablename="t_afypdtl" desc=""/>
      <values id="9" tablename="T_AwardRate" desc=""/>
      <values id="10" tablename="T_BranchFixRate" desc=""/>
      <values id="11" tablename="t_codedef" desc=""/>
      <values id="12" tablename="T_FixAwardRate" desc=""/>
      <values id="" tablename="T_RankAwardRate" desc=""/>
      <values id="" tablename="T_RankFixRate" desc=""/>
      <values id="" tablename="t01_sales" desc=""/>
      <values id="" tablename="t01_salesbackup" desc=""/>
      <values id="" tablename="t02_groupbackup" desc=""/>
      <values id="" tablename="t02_salesgroup" desc=""/>
      <values id="" tablename="t02_salesinfo" desc=""/>
      <values id="" tablename="t03_agentpolicy" desc=""/>
      <values id="" tablename="t03_persist" desc=""/>
      <values id="" tablename="t03_policyperday" desc=""/>
      <values id="" tablename="t06_comcalcbase" desc=""/>
      <values id="" tablename="t08_deductiondet" desc=""/>
      <values id="" tablename="t08_paymentdet" desc=""/>
      <values id="" tablename="t08_rptcomm" desc=""/>
      <values id="" tablename="t08_rptfyp" desc=""/>
      <values id="" tablename="t08_wage" desc=""/>
      <values id="" tablename="" desc=""/>
      <values id="" tablename="t09_ranktrace" desc=""/>
      <values id="" tablename="t13_wageengage" desc=""/>
      <values id="" tablename="t16_account" desc=""/>
      <values id="" tablename="t19_document" desc=""/>
      <values id="" tablename="t23_certificate" desc=""/>
      <values id="" tablename="t27_contract" desc=""/>
    </DBtable>
    <DBtable1 name="LIFEPRO">
      <values id="" tablename="t_agent" desc=""/>
      <values id="" tablename="t_bank" desc=""/>
      <values id="" tablename="t_bnkstaff" desc=""/>
      <values id="" tablename="T_CareerRating" desc=""/>
      <values id="" tablename="t_codedef" desc=""/>
      <values id="" tablename="t_comfee" desc=""/>
      <values id="" tablename="t_ctnprmattr" desc=""/>
      <values id="" tablename="t_curroe" desc=""/>
      <values id="" tablename="t_fund" desc=""/>
      <values id="" tablename="t_FundCom" desc=""/>
      <values id="" tablename="T_IssAttr" desc=""/>
      <values id="" tablename="t_node" desc=""/>
      <values id="" tablename="t_plcfee" desc=""/>
      <values id="" tablename="t_prd" desc=""/>
      <values id="" tablename="t_prdfundrelation" desc=""/>
      <values id="" tablename="T_PresentRelation" desc=""/>
      <values id="" tablename="T_QuestBlkdef" desc=""/>
      <values id="" tablename="T_QuestDef" desc=""/>
      <values id="" tablename="t_rateattr" desc=""/>
      <values id="" tablename="t_staff" desc=""/>
      <values id="" tablename="t1apl" desc=""/>
      <values id="" tablename="t1bnf" desc=""/>
      <values id="" tablename="t1btchgprminform" desc=""/>
      <values id="" tablename="t1btexprtinform" desc=""/>
      <values id="" tablename="t1btinformdtl" desc=""/>
      <values id="" tablename="t1btlapseinform" desc=""/>
      <values id="" tablename="t1btplcanuinform" desc=""/>
      <values id="" tablename="t1btrnwrecvinform" desc=""/>
      <values id="" tablename="t1cashvalue" desc=""/>
      <values id="" tablename="t1claimbase" desc=""/>
      <values id="" tablename="t1claimclear" desc=""/>
      <values id="" tablename="t1claimlbt" desc=""/>
      <values id="" tablename="t1claimpayment" desc=""/>
      <values id="" tablename="t1dpst" desc=""/>
      <values id="" tablename="t1edrbase" desc=""/>
      <values id="" tablename="t1edrcancel" desc=""/>
      <values id="" tablename="t1exprtpay" desc=""/>
      <values id="" tablename="t1invstinform" desc=""/>
      <values id="" tablename="t1isd" desc=""/>
      <values id="" tablename="t1loan" desc=""/>
      <values id="" tablename="t1mdffundprop" desc=""/>
      <values id="" tablename="t1mdfprdfunddtl" desc=""/>
      <values id="" tablename="t1periodpay" desc=""/>
      <values id="" tablename="t1plcacctfundprop" desc=""/>
      <values id="" tablename="t1plcacctinfo" desc=""/>
      <values id="" tablename="t1plcanuacctinfo" desc=""/>
      <values id="" tablename="t1PlcautoUW" desc=""/>
      <values id="" tablename="t1plcbase" desc=""/>
      <values id="" tablename="t1plcstatus" desc=""/>
      <values id="" tablename="t1PlcUW" desc=""/>
      <values id="" tablename="t1prd" desc=""/>
      <values id="" tablename="t1prdsrddtl" desc=""/>
      <values id="" tablename="t1prduw" desc=""/>
      <values id="" tablename="t1prepayprm" desc=""/>
      <values id="" tablename="t1prmdtl" desc=""/>
      <values id="" tablename="t1rating" desc=""/>
      <values id="" tablename="t1recvacct" desc=""/>
      <values id="" tablename="t1srd" desc=""/>
      <values id="" tablename="t4custbase" desc=""/>
      <values id="" tablename="t4custbasehst" desc=""/>
      <values id="" tablename="t4custbasemdfhst" desc=""/>
      <values id="" tablename="t4custclaim" desc=""/>
      <values id="" tablename="t4custins" desc=""/>
      <values id="" tablename="t4custrisk" desc=""/>
      <values id="" tablename="t5cashdest" desc=""/>
      <values id="" tablename="t5cashpay" desc=""/>
      <values id="" tablename="t5cashsource" desc=""/>
      <values id="" tablename="t5chequepay" desc=""/>
      <values id="" tablename="t5fundacctdtl" desc=""/>
      <values id="" tablename="t5funddealapply" desc=""/>
      <values id="" tablename="t5fundprice" desc=""/>
      <values id="" tablename="t5informrecv" desc=""/>
      <values id="" tablename="t5oschequeno" desc=""/>
      <values id="" tablename="t5oschequenodtl" desc=""/>
      <values id="" tablename="t5payable" desc=""/>
      <values id="" tablename="t5payabledtl" desc=""/>
      <values id="" tablename="t5plcapportion" desc=""/>
      <values id="" tablename="t5plcblnc" desc=""/>
      <values id="" tablename="t5plcfundacct" desc=""/>
      <values id="" tablename="t5plcrecved" desc=""/>
      <values id="" tablename="t5plcsave" desc=""/>
      <values id="" tablename="t5receiptrecv" desc=""/>
      <values id="" tablename="t5recvbl" desc=""/>
      <values id="" tablename="t5recvbldtl" desc=""/>
      <values id="" tablename="t5subsprmpay" desc=""/>
    </DBtable1>
  </sinosoft>
</configuration>